<head>
  <style>
    h4 {color: purple; font-family: "Comic Sans MS", "Comic Sans", cursive; font-size: 100%;}
    label, input {color: blue; font-family: "Comic Sans MS", "Comic Sans", cursive; font-size: 80%;}


  </style>
</head>

<h4>Sign up below:</h4>

<form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Enter email:</label>
    <input type="text" id="email" name="user[email]">

    <br>

    <label for="password">Enter password:</label>
    <input type="text" id="password" name="user[password]">

    <br>
    <input type="submit" value="Sign me up!">
</form>